
###> symfony/framework-bundle ###
/.env.local.php
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public
/var/
/vendor/
###< symfony/framework-bundle ###
/.env
/.idea/

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
/var/data_test.db
